
.intro {
    position: relative;
    top: 0;
    left:0;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display:grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content ;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 3;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left:-1.5em;
        width: calc(100% + 1.5em);
        z-index: 2;

    }
}

/*Individual Portfolio Item Styles*/
.portfolio__item--individual{
    padding: 0 4em 2em;
    margin: 0 auto;
}

.item__main--image {
    width: auto;
    height: 400px;
}

/*Bitcoin Page*/
.hyperlink {
    list-style: none;
}










